h2 {
    padding-left: .5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: .5rem;
	margin-top: .5rem;
    line-height: 1.1;
	font-family: Roboto,sans-serif;
}
div[col-id="ag-Grid-AutoColumn"].ag-cell, div[col-id="ag-Grid-AutoColumn"].ag-cell-value, div[col-id="ag-Grid-AutoColumn"].ag-group-value, .ag-group-value {
    overflow: visible!important;
}

div[aria-expanded] {
    overflow: visible!important;
	font-weight: 700;
}

.modal {
	padding-right: 0!important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 0;
	z-index: 11!important;
}
.modal.hide {
    display: none;
}

.modal.show .modal-dialog {
	display: block;
    transform: none;
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
}
.modal-dialog .modal-content {
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog.modal-notify .modal-header {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.modal-dialog .modal-content .modal-header {
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
}

element.style {
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
.h4, h4 {
    font-size: 1.5rem;
	font-family: Roboto,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

element.style {
}
.modal-dialog.modal-notify .modal-body {
    padding: 1.5rem;
    color: #616161;
}
.text-center {
    text-align: center!important;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
}
.modalImage {
    max-width: 100%;
    max-height: 100%;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn {
    margin: .375rem;
    text-transform: uppercase;
    white-space: normal;
    border: 0;
    border-radius: .125rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem;
}
.modal-backdrop.show {
    opacity: .5;
}
.modal-backdrop.hide {
    display:none;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10!important;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.containerFoot {
	width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
	color: #6c757d!important;
	font-family: Roboto,sans-serif;
}